<div>
	<h2>Detalle de Evento</h2>
	<table>
		<tr>
			<td>
				<table>
					<tr>
						<td>Nombre:</td><td><input type="text" value="{{=$.event.name}}" onchange="framux.bind('$.event.name',this)"/></td>
					</tr>
					<tr>
						<td>Tipo Evento:</td>
						<td>
						
							<select>
								{{~$.eventTypes:eventType}}
								<option value="{{=eventType.value}}" onclick="framux.bind('$.event.eventType',this)" {{=($.event.eventType == eventType.value ? "selected='selected'" : "")}}>
									{{=eventType.description}}
								</option>
								{{~}}
							</select>
						</td>
					</tr>
					<tr>
						<td>Artistas:</td><td><input type="text" value="{{=$.event.artists}}" onchange="framux.bind('$.event.artists',this)"/></td>
					</tr>
					<tr>
						<td>Fecha:</td><td><input type="text" value="{{=$.event.date}}" onchange="framux.bind('$.event.date',this)"/></td>
					</tr>
					<tr>
						<td>Lugar:</td><td><input type="text" value="{{=$.event.place}}" onchange="framux.bind('$.event.place',this)"/></td>
					</tr>
				</table>
			</td>
			<td>
				Localidades
				<table align="top">
					{{~$.locations:location}}
					<tr>
						<td><input type="checkbox" {{=(location.found ? "checked='checked'" : "")}} onclick="framux.bind('location.found',this)">{{=location.locationTypeDescription}}</input></td>
						<td><input type="checkbox" {{=(location.numbered ? "checked='checked'" : "")}} onclick="framux.bind('location.numbered',this)">Numerada&nbsp;&nbsp;&nbsp;</input></td>
						<td>Precio:<input type="text" value="{{=location.price}}" onchange="framux.bind('location.price',this)"/></td>
						<td>Cantidad:<input type="text" value="{{=location.quantity}}" onchange="framux.bind('location.quantity',this)"/></td>
					</tr>
					{{~}}
				</table>
			</td>
		</tr>
		<tr><td colspan="2"><a href="#eventsSave"><button>Guardar</button></a></td></tr>
	</table>
</div>